@charset "utf-8";

/* LINKS */

.link-menu {
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Dosis';
    font-size: 20px;
}

.text-menu:hover {
    color:#74D397 ;
    border-bottom: 2px solid #74D397;
    padding-bottom: 4px; 
    transition: 0.4s;
}

#link-facebook {
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Dosis';
    font-size: 20px;
}

#link-facebook:hover {
    color: #74D397;
}

/* ------------- */

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-image: url("../img/strawberry.jpg");
    background-position: 25% 85%;   
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;   
}

#strawberry {
    width: 100%;
    height: 100%;
}

.div-menu {
    margin-right: 50px;
    display: flex;
    align-self: flex-end; 
    flex-direction: column;
    width: 280px;
    height: 300px;
    background-color: black;
    color: white;
    /* opacity: 0.5; */
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    border: 1px solid #74D397;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 250px;
    height: 280px;
    /* background-color: lightgreen; */
}

.list-menu {
    align-items: center;
    display: flex;
    height: 40px;
    width: 220px;
    /* background-color: lightcoral; */
}

#bia-text {
    height: 80px;
}

#div-wrap {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

#div-book-appointment {
    /* margin-left: 20px; */
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 250px;
    border: 1px solid #74D397;
    border-radius: 1px;
    font-family:  'Dosis';
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 50px;
}

#h2-booking:hover {
    color: #74D397;
}

.div-img {
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 60px;
    align-items: center;
    justify-content: flex-start;
}

.img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

#div-contacts {
    font-family: 'Dosis';
    font-size: 20px;
    /* margin-left: 20px; */
    display: none;
     background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 160px;
    color: white;
    border: 1px solid #74D397;
 
}

#email-text {
    font-family: 'Dosis';
}


#email-text:hover {
    color: #74D397;

}


#mobile-text:hover {
    color: #74D397;
}

#mobile-text {
    font-family: 'Dosis';
}


#facebok-text {
    font-family: 'Dosis';
}

/* MEDIA QUERIES */

   /* IPAD MINI Portrait  */
   @media only screen and (min-device-width: 768px) 
   and (orientation: portrait) {

    /* INDEX */

        body {
            flex-direction: column-reverse

        }

        .div-menu {
            width: 400px !important;
            height: 500px;
            margin-right: 0px !important;
        }

        .menu {
            width: 400px !important;
            height: 450px;
            padding-left: 0px;
        }

        .list-menu {
            align-items: center;
            display: flex;
            height: 90px;
        }

        .link-menu {
            font-size: 24px;
            margin-left: 20px;
        }

        #bia-text {
            width: 300px;
            height: 90px;
        }


        #div-book-appointment {
            height: 90px;
            width: 350px;
            margin-left: 0px;
            font-size: 15px;
        }


        #div-contacts {
            background-color: black;
            margin-left: 0px !important;
            width: 350px;
            height: 400px;
        }

        #email-text {
            font-size: 24px;
        }

        #mobile-text {
            font-size: 24px;
        }

        #link-facebook {
            font-size: 24px;
        }    
    }

    /* IPAD MINI Landscape  */
      @media only screen 
      and (max-device-width: 1024px) 
      and (orientation: landscape) {

        .div-menu {
            width: 300px !important;
            height: 500px;
            margin-right: 0px ;
        }

        .menu {
            justify-content: flex-start;
            width: 200px;
            height: 450px;
            margin-left: 0px !important;
            padding-left: 0px;
        }

        .list-menu {
            width: 200px;
            align-items: center;
            display: flex;
            height: 90px;
        }

        .link-menu {
            font-size: 24px;
            /* margin-left: 20px; */
        }

        #bia-text {
            width: 300px;
            height: 90px;
        }


        #div-contacts {
            margin-left: 0px;
            background-color: black;
        }
  
    }
      
     
    /* IPAD PRO POTRAIT */
    @media only screen 
    and (min-device-width: 1024px) 
    and (orientation: portrait) {

        .div-menu {
            width: 400px !important;
            height: 500px;
            margin-right: 0px !important;
        }

        .menu {
            width: 350px !important;
            height: 450px;
        }

        .list-menu {
            align-items: center;
            display: flex;
            height: 90px;
        }

        .link-menu {
            font-size: 24px;
            margin-left: 20px;
        }

        #bia-text {
            width: 300px;
            height: 90px;
        }

        #div-book-appointment {
            margin-left: 0px;
            width: 350px;
            height: 90px;
            font-size: 15px;
        }

        #div-contacts {
            height: 350px;
            width: 350px;
            background-color: black;
            margin-left: 0px;
            font-size: 15px;
        }

        #email-text {
            font-size: 24px;
        }

        #mobile-text {
            font-size: 24px;
        }

        #link-facebook {
            font-size: 24px;
        }    

    }


    /* IPAD PRO LANDSCAPE */
    /* @media only screen 
    and (min-device-width: 1366px) 
    and (orientation: landscape) {

        .div-menu {
            width: 600px !important;
            height: 500px;
            margin-right: 0px !important;
        }

        .menu {
            width: 550px !important;
            height: 450px;
        }

        .list-menu {
            align-items: center;
            display: flex;
            width: 400px;
            height: 90px;
        }

        .link-menu {
            font-size: 27px;
            margin-left: 20px;
        }

        #bia-text {
            width: 400px;
            height: 100px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        #div-book-appointment {
            margin-left: 0px;
            width: 350px;
            height: 90px;
            font-size: 15px;
        }

        #div-contacts {
            height: 350px;
            width: 350px;
            background-color: black;
            margin-left: 0px;
            font-size: 15px;
        }

        #email-text {
            font-size: 24px;
        }

        #mobile-text {
            font-size: 24px;
        }

        #link-facebook {
            font-size: 24px;
        }  

    } */


    /* MOBILES */
    @media only screen 
    and (min-device-width: 320px) {

        body {
            flex-direction: column-reverse;
            align-items: center;
        }

        .div-menu {
            width: 250px;
            margin-right: 0px;
        }



        .menu {
            width: 230px;
        }

        #div-book-appointment {
            margin-top: 0px;
        }

        #div-wrap {
            margin-top: 40px;
        }
    }

 







