@charset "utf-8";

/* LINKS */

.link-menu {
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: 'Dosis';
    font-size: 20px;
}

.text-menu:hover {
    color:#74D397 ;
    border-bottom: 2px solid #74D397;
    padding-bottom: 4px; 
    transition: 0.4s;
}

/* ------------------ */

html {
    /* background: url(images/bg.jpg) no-repeat center center;  */
    width: 100%;
    height: 100% !important;
    display: flex;
    /* overflow: hidden; */
}

body {
    font-family: 'Dosis';
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* justify-content: center; */
    align-items:  center;
    width: 100%;
    height: 100%;
    background-image: url("../img/test-img.jpg");
    /* background-position: 95% 5%;     */
    /* background-repeat: no-repeat;  */
    background-attachment: fixed;   
    background-size: cover;    
}


.div-menu {
    /* margin-right: 150px; */
    margin-top: 50px;
    display: none;
    align-self: flex-end; 
    flex-direction: column;
    width: 280px;
    height: 300px;
    color: white;
    /* opacity: 0.5; */
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    border: 1px solid #74D397;
    background-color: black;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 250px;
    height: 280px;
    /* background-color: lightgreen; */
}

.list-menu {
    align-items: center;
    display: flex;
    height: 40px;
    width: 220px;
    /* background-color: lightcoral; */
}

#bia-text {
    height: 80px;
}

#div-test {
    margin-left: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    /* background-color: black;
    opacity: 0.7; */
}
#big-div-group-statements {
     display: flex;
     flex-wrap: wrap;
    /* justify-content: center;
    align-items: center;  */
    width: 1200px; 
    height: 100%; 
    /* margin-top: 200px; */
} 

.div-choose-statement {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 250px;
    background-color: black;
    opacity: 0.7;
    /* background-color: lightslategray; */
    justify-content: space-around;
    align-items: flex-start;
    /* margin-bottom: 20px; */
}
.div-statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 200px;
    font-size: 21px;
    /* background-color: lightseagreen; */
}

.div-select-answer {
    /* background-color: lightsalmon; */
    width: 200px;
    height: 300px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

input[type=checkbox] {
  transform: scale(1.5);
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 17px;
  visibility: hidden;
}

input[type=checkbox]:after {
  content: " ";
  background-color: black;
  display: inline-block;
  margin-left: 5px;
  padding-bottom: 5px;
  color:  #74D397;
  width: 18px;
  height: 18px;
  visibility: visible;
  border: 2px solid #74D397;
  padding-left: 3px;
  border-radius: 20px;
}

input[type=checkbox]:checked:after {
  content: "\2714";
  padding: -5px;
  font-weight: bold;
}

#button-get-result {
    margin-top: 50px;
    margin-left: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center !important;  
    width: 200px;
    height: 60px;
    border: 1px solid #74D397;
    background-color: black;
    
}

#get-result-text {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}

#get-result-text:hover {
   color: #74D397;
}

#div-get-result-profile {
    width: 600px;
    height: 400px;
    flex-wrap: wrap;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 34px;
  
}
