@charset "utf-8";

html {
    width: 100%;
    height: 100% !important;
    display: flex;
}

body {
    
    font-family: 'Dosis';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    width: 100%;
    height: 100%;
    background-image: url("../img/test-img.jpg");
    background-position: 95% 5%;    
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;    
}

#div-test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    /* background-color: black;
    opacity: 0.7; */
}
#big-div-group-statements {
     display: flex;
     flex-wrap: wrap;
    /* justify-content: center;
    align-items: center;  */
    width: 600px; 
    height: 100%; 
    /* margin-top: 200px; */
} 

.div-choose-statement {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    /* background-color: lightslategray; */
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
}
.div-statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
    height: 330px;
    font-size: 27px;
    /* background-color: lightseagreen; */
}

.div-select-answer {
    /* background-color: lightsalmon; */
    width: 200px;
    height: 300px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

input[type=checkbox] {
  transform: scale(1.5);
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 17px;
  visibility: hidden;
}

input[type=checkbox]:after {
  content: " ";
  background-color: black;
  display: inline-block;
  margin-left: 5px;
  padding-bottom: 5px;
  color:  #74D397;
  width: 22px;
  height: 22px;
  visibility: visible;
  border: 2px solid #74D397;
  padding-left: 3px;
  border-radius: 20px;
}

input[type=checkbox]:checked:after {
  content: "\2714";
  padding: -5px;
  font-weight: bold;
}

#div-get-result {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center !important;  
    width: 200px;
    height: 60px;
    border: 1px solid #74D397;
    margin-left: 180px;
}

#get-result-text {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}

#get-result-text:hover {
   color: #74D397;
}

#div-get-result-profile {
    width: 600px;
    height: 400px;
    flex-wrap: wrap;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 33px;
}
