body {
    font-family: 'Dosis';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    width: 100%;
    height: 100%;
    background-image: url("../img/test-img.jpg");
    /* background-position: 95% 5%;    */
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;  
}

#div-test {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}

.div-choose-statement {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 100px;
    background-color: lightslategray;
    justify-content: center;
    align-items: center;
    margin-bottom:  20px;
}

.div-select-answer {
    display: flex;
    flex-direction: row;

}